capitalizeValues="false"
condensedLayout="false"
defaultSitemap="master"
enableIcons="true"
felix.fileinstall.filename="file:/var/lib/openhab2/etc/org.eclipse.smarthome.basicui.cfg"
iconType="svg"
org.apache.karaf.features.configKey="org.eclipse.smarthome.basicui"
service.pid="org.eclipse.smarthome.basicui"
theme="dark"
