location.<locationId1>.language="en"
location.<locationId1>.provider="Yahoo"
location.<locationId1>.updateInterval="10"
location.<locationId1>.woeid="34562"
location.home.language="en"
location.home.provider="Yahoo"
location.home.updateInterval="10"
location.home.woeid="34562"
service.pid="org.openhab.weather"
