SymmetricKeyCipher="mvn:org.eclipse.smarthome.auth/org.eclipse.smarthome.auth.oauth2client/0.10.0.oh240"
com.eclipsesource.jaxrs.connector="mvn:com.eclipsesource.jaxrs/publisher/5.3.1"
com.eclipsesource.jaxrs.swagger.config="mvn:de.maggu2810.thirdparty.modified.com.eclipsesource.jaxrs/provider-swagger/1.1.1.201605111122"
org.apache.felix.eventadmin.impl.EventAdmin="mvn:org.apache.karaf.services/org.apache.karaf.services.eventadmin/4.2.1"
org.apache.felix.fileinstall.49ffc21b-1c75-4d0c-b9e0-b846183b71c9="mvn:org.apache.felix/org.apache.felix.fileinstall/3.6.4"
org.apache.karaf.features.repos="mvn:org.apache.karaf.features/org.apache.karaf.features.core/4.2.1"
org.apache.karaf.jaas="mvn:org.apache.karaf.jaas/org.apache.karaf.jaas.modules/4.2.1"
org.apache.karaf.kar="mvn:org.apache.karaf.kar/org.apache.karaf.kar.core/4.2.1"
org.apache.karaf.log="mvn:org.apache.karaf.log/org.apache.karaf.log.core/4.2.1"
org.apache.karaf.shell="mvn:org.apache.karaf.shell/org.apache.karaf.shell.ssh/4.2.1-sp1"
org.openhab.addons="mvn:org.openhab.core/org.openhab.core.karaf/2.4.0"
org.openhab.dashboard="mvn:org.openhab.core/org.openhab.ui.dashboard/2.4.0"
org.openhab.http="mvn:org.openhab.binding/org.openhab.binding.http/1.13.0"
org.openhab.mail="mvn:org.openhab.action/org.openhab.action.mail/1.13.0"
org.openhab.mqtt="mvn:org.openhab.io/org.openhab.io.transport.mqtt/1.13.0"
org.openhab.mqtt-eventbus="mvn:org.openhab.binding/org.openhab.binding.mqtt/1.13.0"
org.openhab.pushbullet="mvn:org.openhab.action/org.openhab.action.pushbullet/1.13.0"
org.openhab.tcp="mvn:org.openhab.binding/org.openhab.binding.tcp/1.13.0"
org.openhab.xbmc="mvn:org.openhab.binding/org.openhab.binding.xbmc/1.13.0"
org.ops4j.pax.logging="mvn:org.ops4j.pax.logging/pax-logging-log4j2/1.10.1"
org.ops4j.pax.web="mvn:org.ops4j.pax.web/pax-web-runtime/7.2.3"
